<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Explore My Work</h1>
    <p class="lead text-muted">Take a look at what I've done!
    I'm a very passionate RoR developer. I'm continually learning new technologies and modern solutions is what I use.
    I believe a good modern approach is what helps bring in the right clientele. </p>
      <%= link_to 'About Mark Morales', about_path, class: 'btn btn-primary' %>
      <%= link_to 'Mark on Rails Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>