<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h3>Subscribe to our Blog and follow us on Instgram!</h3>
          <%= link_to "Subscribe!", new_user_registration_path, class: "btn btn-lg btn-success" %>    
          <%= link_to "Check Us Out Here Too!", "http://juliavalentine.cbintouch.com", class: "btn btn-lg btn-light" %></h3>
            </div>
        </div>
    </div>
</aside>