<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Julia Valentine Arizona Properties</strong>
                </h4>
                <p>3113 E Lincoln Dr, Phoenix, AZ 85016</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (602) 758-5293</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">juliavalentine7@hotmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="app-footer"><%= copyright_generator %></p>
                <ol class="list-unstyled social-links">
                  <li><a href="https://twitter.com/OurAZlife"><%=fa_icon "twitter" %></a></li>
                  <li><a href="https://www.facebook.com/julia.valentine.3745"><%=fa_icon "facebook" %></a></li>
                  <li><a href="http://view-instagram.com/usr/juliavalentineazproperties/id-3171631844"><%=fa_icon "instagram" %></a></li>
                </ol>
            </div>
        </div>
    </div>
</footer>
