<div class="container">
  <div class="app-card-container">
    <div class="card">
      <h1>About Us</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "julia.jpg", width: 200, alt: "profile image", class: 'profile-image' %>
        </div>
        
        <div class="col-md-6">
          <p>Mark Morales (CTO) founded Mulberry Cloud in January 2017,
          with the goal to ease business' with the load of worrying about their site.
          With integrity being key, my work will be open for you to see during the process.
          I use the lastest and greatest frameworks: Ruby on Rails, Angular, bootstrap and more.  </p>
          <%= link_to "My Linkedin!", "https://www.linkedin.com/in/mark-morales-132961138/" %>
        </div>
      </div>
    </div>
  </div>
</div>




