<div class="container">
  <div class="app-card-container">
    <div class="card">
      <h1>About Me</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "markpic.JPG", width: 200, alt: "profile image", class: 'profile-image' %>
        </div>
        
        <div class="col-md-8">
          <p>I'm Mark Morales, a Software Engineer in the Phoenix Metropolitan Area. 
          Checkout my portfolio and contact me if you're interested in working together.</p>
          <%= link_to "Check Me Out Here Too!", "https://www.linkedin.com/in/mark-morales-132961138/" %>
        </div>
      </div>
    </div>
  </div>
</div>




