<div class="container">
  <div class="app-card-container">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <h3>Location</h3>
          
          <p>Fountain Hills, AZ</p>
          
          <h3>Phone</h3>
          
          <p><%= number_to_phone "6022928812" %></p>
          
          <h3>Email</h3>
          
          <p><a href="mailto:mulberrycloud@gmail.com" "email me">Email me</a></p>
        </div>
        
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.0929036917423!2d-111.71460608528373!3d33.60289388073051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b987dbd4dc729%3A0x80fb44a7b186e6c7!2sFountain+Park!5e0!3m2!1sen!2sus!4v1503616611618" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


