<div class="inner cover">
  <h1 class="cover-heading">We're not selling houses, we're selling happiness!</h1>
  
  <h5>MANN SPRICHT DEUTSCH</h5>
    
  <h5>Se habla español</h5>
  
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



